* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    /* background: url('../images/witewall_3_@2X.png') repeat fixed center; */
}

.container-nav {
    background: rgba(199, 161, 122, 0.95);
    max-width: 100%;
    z-index: 1;
}

.nav-panel1 {
    display: flex;
    justify-content: center;
}

.nav-panel2 {
    justify-content: start;
}

.logo {
    margin-left: 1.3em;
    width: 45%;
    height: 100px;
}

.logo a img {
    height: 100%;
    width: 100%;
}

.navbar-nav li {
    padding: 5px;
    margin: 0 10px;
    position: relative;
}

.navbar-nav li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #498d18;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-nav li:hover::after {
    width: 100%;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    color: white;
    transition: 0.3s;
}

.nav-item a:hover {
    /* color: #fff; */
}

.btn-call {
    margin-top: 20px;
    position: relative;
    border: none;
    box-shadow: none;
    width: 200px;
}

.call-back a {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    transition: 0.3s;
    background: transparent;
    border: 1px solid white;
    padding: 7px 8px 9px 8px;
    border-radius: 4px;
}

.call-back a:hover {
    font-size: 1.1em;
    color: white;
    background: #4d941a;
    border: 1px solid #4d941a;
}


/*
.btn-call span {
    color: rgb(248, 241, 227);
    background: linear-gradient( 0deg, rgba(77, 148, 26, 1) 0%, rgb(66, 126, 24) 100%);
    display: block;
    position: absolute;
    width: 180px;
    height: 40px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    border-radius: 5px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-call span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-call span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-call:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-call:hover span:nth-child(2) {
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
} */

.search-cart {
    display: flex;
    justify-content: flex-end;
}

.search-cart>ul>li {
    margin-right: 15px;
    padding: 5px;
}


/* ==================================== */

.container-home {
    background-color: #c7a17a;
    position: relative;
    height: 700px;
    overflow: hidden;
}

.container-home .wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content {
    padding-top: 8rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.content-1 {
    padding-top: 4rem;
    color: #352208;
}

.content h1 {
    font-size: 60px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 1.5rem;
}

.content p {
    font-size: 23px;
    line-height: 30px;
}

.content .image {
    transform: rotate(18deg);
}

.content .image img {
    object-fit: cover;
}

.home-button {
    border: 2px solid #3e7915;
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    margin-top: 3rem;
    letter-spacing: 0.03rem;
    background-color: #3e7915;
    color: rgb(248, 241, 227);
    font-weight: 400;
    transition: 0.3s all linear;
    border-radius: 25px;
}

.home-button:first-of-type {
    margin-right: 2rem;
}

.home-button:hover {
    background-color: #4d941a;
    border-color: #4d941a;
}

.about-us {
    margin-top: 2rem;
    padding: 2.5rem;
    background: linear-gradient( 0deg, rgb(255, 255, 255), rgb(199, 161, 122) 15%, rgb(255, 255, 255));
    /* background: radial-gradient(rgb(199, 161, 122), rgb(255, 255, 255) 70%); */
    background-size: cover;
    background-repeat: no-repeat;
}

.about-icon {
    padding: 0px;
    margin-bottom: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.35s;
}

.about-icon img {
    margin-top: 5px;
    width: 100%;
}

.icon-1:hover {
    background-color: rgba(139, 113, 140, 0.643);
}

.icon-2:hover {
    background-color: rgba(134, 127, 117, 0.643);
}

.icon-3:hover {
    background-color: rgb(241, 83, 55, 0.643);
}

.icon-4:hover {
    background-color: rgb(114, 46, 139, 0.643);
}

.icon-5:hover {
    background-color: rgba(243, 148, 190, 0.643);
}

.icon-6:hover {
    background-color: rgba(253, 226, 70, 0.582);
}

.carousel-fade .carousel-item {
    z-index: 0 !important;
}

#carouselExampleFade {
    width: 80%;
}

.carousel-fade .carousel-control-next-icon,
.carousel-fade .carousel-control-prev-icon {
    filter: invert(1) grayscale(100);
}

.section-title {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 500;
    color: #352208;
}

.section-title::first-letter {
    text-transform: capitalize;
}

.compare {
    margin-top: 2rem;
}

.cup-image {
    height: 350px;
    width: 350px;
    margin: 0 auto 1.5rem;
}

.cup-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.criterias {
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Roboto', sans-serif;
}

.criterias ul li {
    font-size: 1.1rem;
    list-style: none;
    padding: 0.7rem 1rem;
    transition: 0.3s background-color linear;
}

.red .criterias ul li:hover {
    background-color: rgba(255, 0, 0, 0.199);
}

.green .criterias ul li:hover {
    background-color: rgba(0, 128, 0, 0.199);
}

.fa-check {
    margin-right: 0.5rem;
}

.fa-check.red {
    color: red;
}

.fa-check.green {
    color: green;
}


/* Contact */

.container-contact {
    background-color: #c7a17a;
    position: relative;
}

.contact-main {
    height: 58vh;
}

.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 109px;
}

.shape-divider .shape-fill {
    fill: #ffffff;
}

.contact-1 {
    padding-top: 4rem;
    color: white;
    margin-bottom: 1.5rem;
}

.contact {
    padding-top: 8rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.contact-1 h1 {
    font-family: 'Roboto';
    display: inline;
    font-weight: 500;
    font-size: 50px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid#498d18;
}

.contact-1>h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 17px;
    color: white;
}

.contact-1 a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.contact-1 a:hover {
    text-decoration: none;
    color: rgb(197, 189, 172, 0.9);
}

.contact-2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 3.5em;
}

.contact-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 30%; */
    height: 30vh;
    /* padding: 10px; */
    text-align: center;
    background: transparent;
    border: 1px solid #c7a17a;
    border-radius: 8px;
}

.contact-box .icon {
    margin-top: 30px;
    margin-bottom: 20px;
}

.contact-box .icon span {
    color: white;
    font-size: 1.5rem;
    background: #c7a17a;
    padding: 15px;
    border-radius: 50%;
}

.contact-box p .phone {
    font-size: 1.1rem;
    color: #111;
    text-decoration: none;
    transition: 0.4s;
}

.contact-box p .phone:hover {
    color: #7c644c;
}

.contact-box p .mail {
    font-size: 1.1rem;
    color: #c7a17a;
    text-decoration: none;
    transition: 0.4s;
}

.contact-box p .mail:hover {
    color: #7c644c;
}

.contact-3 {
    width: 80%;
    margin: 0 auto;
    margin-top: 3.5em;
}

.contact-3 .form {
    display: flex;
    flex-direction: row;
}

.contact-3 .form img {
    width: 55vh;
}

.contact-3 .form-inner {
    display: flex;
    flex-direction: column;
}

.form-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-inner .form-element {
    display: flex;
    flex-direction: row;
    width: 65%;
    border: 1px solid #c7a17a;
    margin-bottom: 10px;
    border-radius: 8px;
}

.form-inner .form-element input {
    outline: none;
    padding: 6px;
    border-radius: 8px;
    width: 100%;
}

.form-element .input-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-element .img-div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.form-element .img-div i {
    font-size: 20px;
}

.form-message-div {
    height: 130px;
    width: 60%;
}

.textarea-img {
    align-self: flex-start;
}

.message-textarea-div {
    height: 80%;
    width: 80%;
}

.message-textarea-div textarea {
    width: 100%;
    height: 100% !important;
    outline: none;
    text-decoration: none;
    border: none;
    resize: none;
    border-radius: 8px;
}

.btn-form {
    font-family: 'Rubik', sans-serif;
    width: 60%;
    height: 45px;
    background-color: #c7a17a;
    color: #fff;
    border: 2px solid #c7a17a;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-form:hover {
    background: transparent;
    color: #111;
}

.warning-div {
    width: 55%;
    display: flex;
    justify-content: start;
}

.contact-map {
    padding-top: 3rem;
    font-family: 'Rubik', serif;
    text-align: center;
}

.contact-4 h1 {
    display: inline;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 2.5rem;
    padding-bottom: 0.4rem;
    border-bottom: 4px solid#498d18;
}

.contact-map p {
    font-family: sans-serif;
    font-weight: 500;
}

.contact-rekvizit h1 {
    display: inline;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 40px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 2.5rem;
    padding-bottom: 0.4rem;
    border-bottom: 4px solid#498d18;
}


/* About  */

footer {
    background-color: #caa681;
    width: 100%;
    margin-left: 0 !important;
    padding: 3rem;
}

footer h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

footer h3 {
    font-size: 1rem;
}

footer ul li a:hover {
    color: #d18d4e;
}

.fa-instagram {
    font-size: 1.5rem;
}

.underline {
    background-color: black;
    width: 20%;
    height: 2px;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.copyright {
    margin-top: 1rem;
}

footer ul li {
    list-style: none;
    margin-bottom: 0.5rem;
}

footer ul li a {
    color: black;
    text-decoration: none;
}

footer ul {
    padding-left: 0;
}

@media screen and (max-width: 992px) {
    .nav-panel {
        justify-content: start;
    }
}

@media screen and (max-width: 767px) {
    .form-inner .form-element {
        width: 90%;
    }
    .contact-3 .form img {
        width: 38vh;
    }
    .btn-custom {
        width: 180px;
        height: 40px;
        border-radius: 5px;
        padding: 10px 25px;
        position: relative;
        display: inline-block;
    }
    .btn-call {
        margin-top: 20px;
        position: relative;
        right: 20px;
        bottom: 150px;
        width: 180px;
        height: 40px;
    }
    .btn-call span {
        display: block;
        position: absolute;
        width: 180px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
    }
}

@media screen and (min-width: 500px) {
     ::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #555;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #111;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
}


/* Certificate carousel */


/* .certificates {
  width: 100vw;
}
.certificates .item {
  width: 300px;
  height: 300px;
  display: inline-block;
} */

.certificates .item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.certificates {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    white-space: nowrap;
    position: relative;
    transform: translateX(0);
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
}

.certificates .item {
    border: 1px solid black;
    width: 32%;
    float: none;
    height: 100%;
    margin-left: 0.8rem;
    display: inline-block;
}


/* ABOUT */

.container-about {
    background-color: #c7a17a;
    position: relative;
}