* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* background: url('../images/witewall_3_@2X.png') repeat fixed center; */
}

.container-nav {
    background: rgba(199, 161, 122, 0.95);
    max-width: 100%;
    z-index: 1;
}

.navbar-nav li {
    padding: 5px;
    margin: 0 10px;
    position: relative;
}

.navbar-nav li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #498d18;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar-nav li:hover::after {
    width: 100%;
}

.nav-item a {
    text-decoration: none;
    font-size: 1.25rem;
    letter-spacing: 0.03rem;
    color: white;
    transition: 0.3s;
}

.nav-item a:hover {
    color: #fff;
}

.btn-custom {
    width: 180px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-call {
    margin-top: 20px;
    position: relative;
    right: 20px;
    bottom: 20px;
    border: none;
    box-shadow: none;
    width: 180px;
    height: 40px;
    line-height: 42px;
    -webkit-perspective: 230px;
    perspective: 230px;
}

.btn-call span {
    color: rgb(248, 241, 227);
    background: linear-gradient(0deg, rgba(77, 148, 26, 1) 0%, rgb(66, 126, 24) 100%);
    display: block;
    position: absolute;
    width: 180px;
    height: 40px;
    /* box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1); */
    border-radius: 5px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-call span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-call span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}

.btn-call:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

.btn-call:hover span:nth-child(2) {
    color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}


/* .call-back a {
    text-decoration: none;
    font-size: 1.1em;
    color: white;
    transition: 0.3s;
    background: transparent;
    border: 1px solid white;
    padding: 7px 8px 9px 8px;
    border-radius: 4px;
}

.call-back a:hover {
    font-size: 1.1em;
    color: white;
    background: #4d941a;
    border: 1px solid #4d941a;
} */

.search-cart {
    display: flex;
    justify-content: flex-end;
}

.search-cart>ul>li {
    margin-right: 15px;
    padding: 5px;
}

.container-home {
    background-color: #c7a17a;
    position: relative;
    height: 700px;
    overflow: hidden;
}

.container-home .wave {
    position: absolute;
    bottom: 0;
    left: 0;
}

.content {
    padding-top: 8rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.content-1 {
    padding-top: 4rem;
    color: #352208;
}

.content h1 {
    font-size: 60px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 1.5rem;
}

.content p {
    font-size: 23px;
    line-height: 30px;
}

.content .image {
    transform: rotate(18deg);
}

.content .image img {
    object-fit: cover;
}

.home-button {
    border: 2px solid #3e7915;
    font-family: 'Roboto', sans-serif;
    padding: 0.8rem 2rem;
    font-size: 1.1rem;
    margin-top: 3rem;
    letter-spacing: 0.03rem;
    background-color: #3e7915;
    color: rgb(248, 241, 227);
    font-weight: 400;
    transition: 0.3s all linear;
    border-radius: 25px;
}

.home-button:first-of-type {
    margin-right: 2rem;
}

.home-button:hover {
    background-color: #4d941a;
    border-color: #4d941a;
}


/* Contact */

.container-contact {
    background-color: #c7a17a;
    position: relative;
}

.contact-main {
    height: 420px;
}

.shape-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider svg {
    position: relative;
    display: block;
    width: calc(138% + 1.3px);
    height: 109px;
}

.shape-divider .shape-fill {
    fill: #FFFFFF;
}

.contact-1 {
    padding-top: 4rem;
    color: white;
    margin-bottom: 1.5rem;
}

.contact {
    padding-top: 8rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
}

.contact-1 h1 {
    font-family: 'Roboto';
    display: inline;
    font-weight: 500;
    font-size: 50px;
    text-transform: capitalize;
    white-space: pre-wrap;
    line-height: 72px;
    margin-bottom: 2.5rem;
    border-bottom: 3px solid#498d18;
}

.contact-1>h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 20px;
    font-size: 17px;
    color: white;
}

.contact-1 a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.contact-1 a:hover {
    text-decoration: none;
    color: rgb(197, 189, 172, 0.9);
}

.contact-2 {
    width: 90%;
    margin: 0 auto;
    margin-top: 3.5em;
}

.contact-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    height: 210px;
    /* padding: 100px; */
    text-align: center;
    background: transparent;
    border: 1px solid #c7a17a;
    border-radius: 8px;
}

.contact-box .icon {
    margin-top: 30px;
    margin-bottom: 20px;
}

.contact-box .icon span {
    color: white;
    font-size: 1.5rem;
    background: #c7a17a;
    padding: 15px;
    border-radius: 50%;
}

.contact-box p .phone {
    font-size: 1.1rem;
    color: #111;
    text-decoration: none;
    transition: 0.4s;
}

.contact-box p .phone:hover {
    color: #7c644c;
}

.contact-box p .mail {
    font-size: 1.1rem;
    color: #c7a17a;
    text-decoration: none;
    transition: 0.4s;
}

.contact-box p .mail:hover {
    color: #7c644c;
}

.contact-3 {
    width: 60%;
    margin: 0 auto;
    margin-top: 3.5em;
}

.contact-3 .form {
    display: flex;
    flex-direction: row;
}

.contact-3 .form img {
    width: 250px;
}

.contact-3 .form-inner {
    display: flex;
    flex-direction: column;
}

.form-inner .form-element {
    display: flex;
    flex-direction: row;
    width: 60%;
    border: 1px solid #c7a17a;
    margin-bottom: 10px;
}

.form-inner .form-element input {
    outline: none;
    padding: 6px;
    border-radius: 12px;
    width: 100%;
}

.form-element .input-div {
    display: flex;
    align-items: center;
    width: 100%;
}

.form-element .img-div {
    display: flex;
    align-items: center;
    padding: 10px;
}

.form-element .img-div i {
    font-size: 20px;
}

.form-message-div {
    height: 130px;
    width: 60%;
}

.textarea-img {
    align-self: flex-start;
}

.message-textarea-div {
    height: 100%;
    width: 100%;
}

.message-textarea-div textarea {
    width: 100%;
    height: 100% !important;
    outline: none;
    text-decoration: none;
    border: none;
    resize: none;
}

.btn-form {
    font-family: 'Rubik', sans-serif;
    width: 60%;
    height: 45px;
    background-color: #c7a17a;
    color: #fff;
    border: 2px solid #c7a17a;
    border-radius: 12px;
    transition: 0.3s;
}

.btn-form:hover {
    background: transparent;
    color: #111;
}

@media screen and (min-width:500px) {
     ::-webkit-scrollbar {
        width: 8px;
    }
    /* Track */
     ::-webkit-scrollbar-track {
        background: #555;
    }
    /* Handle */
     ::-webkit-scrollbar-thumb {
        background: #111;
    }
    /* Handle on hover */
     ::-webkit-scrollbar-thumb:hover {
        background: #333;
    }
}